
### GENERAL ###

APP_CODE_PATH_HOST=D:\www\
DATA_PATH_HOST=D:\www\data\xxx
APP_CODE_PATH_CONTAINER=/home/www/
UPLOAD_PATH_CONTAINER=/xxx
APP_CODE_CONTAINER_FLAG=:cached
COMPOSE_PROJECT_NAME=xxx

### WORKSPACE ###
WORKSPACE_TIMEZONE=Asia/Shanghai
WORKSPACE_ADMIN_PORT=10520
WORKSPACE_APP_PORT=10510
WORKSPACE_MOBILE_PORT=10530
